<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrkj.ygl.dao.role.UserloginMapper" >
  <resultMap id="BaseResultMap" type="com.mrkj.ygl.entity.login.Userlogin" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="CHAR" />
    <result column="infoname" property="infoname" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="tell" property="tell" jdbcType="VARCHAR" />
    <result column="sfzh" property="sfzh" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="creat_date" property="creatDate" jdbcType="DATE" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <resultMap type="java.util.Map" id="CountMap">
  	<result column="count(id)" property="count" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, role, infoname, age, sex, tell, sfzh, address, creat_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.mrkj.ygl.entity.login.UserloginKey" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where id = #{id,jdbcType=VARCHAR}
      and username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where 
    username = #{username,jdbcType=VARCHAR}
  </select>
  <!-- 查询总数 -->
  <select id="selectCount" resultMap="CountMap" parameterType="java.util.Map">
    select
    	count(id)
    from user_login
    <where >
      <if test="username != null" >
        username LIKE CONCAT(CONCAT('%', #{username,jdbcType=VARCHAR}),'%')
      </if>
      <if test="role != null" >
        and role = #{role,jdbcType=CHAR}
      </if>
      <if test="infoname != null" >
        and infoname LIKE CONCAT(CONCAT('%', #{infoname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="age != null" >
        and age = #{age,jdbcType=INTEGER}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=CHAR}
      </if>
      <if test="tell != null" >
        and tell = #{tell,jdbcType=VARCHAR}
      </if>
      <if test="sfzh != null" >
        and sfzh = #{sfzh,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        and address LIKE CONCAT(CONCAT('%', #{#{address,jdbcType=VARCHAR},jdbcType=VARCHAR}),'%')
      </if>
      <if test="creatDate != null" >
        and creat_date = #{creatDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        and update_date = #{updateDate,jdbcType=DATE},
      </if>
    </where>
  </select>
  <!-- 分页查询 -->
  <select id="selectPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    <where >
      <if test="username != null" >
        username LIKE CONCAT(CONCAT('%', #{username,jdbcType=VARCHAR}),'%')
      </if>
      <if test="role != null" >
        and role = #{role,jdbcType=CHAR}
      </if>
      <if test="infoname != null" >
        and infoname LIKE CONCAT(CONCAT('%', #{infoname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="age != null" >
        and age = #{age,jdbcType=INTEGER}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=CHAR}
      </if>
      <if test="tell != null" >
        and tell = #{tell,jdbcType=VARCHAR}
      </if>
      <if test="sfzh != null" >
        and sfzh = #{sfzh,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        and address LIKE CONCAT(CONCAT('%', #{#{address,jdbcType=VARCHAR},jdbcType=VARCHAR}),'%')
      </if>
      <if test="creatDate != null" >
        and creat_date = #{creatDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        and update_date = #{updateDate,jdbcType=DATE},
      </if>
    </where>
     order by id
     limit #{page,jdbcType=INTEGER},#{row,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyUsername" resultMap="BaseResultMap" parameterType="com.mrkj.ygl.entity.login.UserloginKey" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where
    <if test="id != null" >
    	id = #{id,jdbcType=VARCHAR} and 
    </if>
    	username = #{username,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.mrkj.ygl.entity.login.UserloginKey" >
    delete from user_login
    where 
    <if test="id != null" >
    	id = #{id,jdbcType=VARCHAR} and 
    </if> 
    	username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mrkj.ygl.entity.login.Userlogin" >
    insert into user_login (id, username, password, 
      role, infoname, age, sex, 
      tell, sfzh, address, 
      creat_date, update_date)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=CHAR}, #{infoname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=CHAR}, 
      #{tell,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{creatDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.mrkj.ygl.entity.login.Userlogin" >
    insert into user_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="infoname != null" >
        infoname,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="tell != null" >
        tell,
      </if>
      <if test="sfzh != null" >
        sfzh,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="creatDate != null" >
        creat_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
      <if test="infoname != null" >
        #{infoname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="tell != null" >
        #{tell,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="creatDate != null" >
        #{creatDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrkj.ygl.entity.login.Userlogin" >
    update user_login
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
      <if test="infoname != null" >
        infoname = #{infoname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="tell != null" >
        tell = #{tell,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        sfzh = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="creatDate != null" >
        creat_date = #{creatDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
      and username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrkj.ygl.entity.login.Userlogin" >
    update user_login
    set password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=CHAR},
      infoname = #{infoname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=CHAR},
      tell = #{tell,jdbcType=VARCHAR},
      sfzh = #{sfzh,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      creat_date = #{creatDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
      and username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>